# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
espnet.egg-info/
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.pytest_cache/
__pycache__/
check_autopep8
.coverage
htmlcov
coverage.xml*
bats-core/
shellcheck*
check_shellcheck*
test_spm.vocab
test_spm.model
.vscode*
*.vim
*.swp

# recipe related
egs*/*/*/data*
egs*/*/*/db
egs*/*/*/downloads
egs*/*/*/dump
egs*/*/*/enhan
egs*/*/*/exp
egs*/*/*/fbank
egs*/*/*/mfcc
egs*/*/*/stft
egs*/*/*/tensorboard
egs*/*/*/wav*

# tools related
tools/bin
tools/include
tools/lib
tools/lib64
tools/bats-core
tools/chainer_ctc/
tools/kaldi*
tools/miniconda.sh
tools/moses/
tools/mwerSegmenter/
tools/nkf/
tools/venv/
tools/sentencepiece/
tools/swig/
tools/warp-ctc/
tools/warp-transducer/
tools/*.done
tools/PESQ*
tools/hts_engine_API*
tools/open_jtalk*
tools/pyopenjtalk*
tools/activate_python.sh
tools/sctk*
tools/sph2pipe*

#######Some Ignores added so that Rav can share the results of the experiments through github.

egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/100epoch.pth
egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/97epoch.pth
egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/valid.acc.best.pth
egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/76epoch.pth
egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/83epoch.pth
egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/checkpoint.pth
egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/valid.acc.ave_10best.pth
egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/91epoch.pth
egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/88epoch.pth
egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/latest.pth
egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/67epoch.pth
egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/95epoch.pth
egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/82epoch.pth
egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/81epoch.pth
egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/valid.acc.ave.pth
egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/99epoch.pth
egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/tensorboard/events.out.tfevents.1607380765.magnolia.7621.0
egs2/wsj-exp/asr1/exp-share/asr_train_asr_transformer_raw_char/tensorboard/events.out.tfevents.1607281565.magnolia.64731.0
egs2/wsj-exp/asr1/data/local/other_text/text
egs2/wsj/asr1/si84_exp/asr_train_asr_transformer_raw_char/100epoch.pth
egs2/wsj/asr1/si84_exp/asr_train_asr_transformer_raw_char/97epoch.pth
egs2/wsj/asr1/si84_exp/asr_train_asr_transformer_raw_char/92epoch.pth
egs2/wsj/asr1/si84_exp/asr_train_asr_transformer_raw_char/94epoch.pth
egs2/wsj/asr1/si84_exp/asr_train_asr_transformer_raw_char/83epoch.pth
egs2/wsj/asr1/si84_exp/asr_train_asr_transformer_raw_char/checkpoint.pth
egs2/wsj/asr1/si84_exp/asr_train_asr_transformer_raw_char/valid.acc.ave_10best.pth
egs2/wsj/asr1/si84_exp/asr_train_asr_transformer_raw_char/91epoch.pth
egs2/wsj/asr1/si84_exp/asr_train_asr_transformer_raw_char/84epoch.pth
egs2/wsj/asr1/si84_exp/asr_train_asr_transformer_raw_char/95epoch.pth
egs2/wsj/asr1/si84_exp/asr_train_asr_transformer_raw_char/90epoch.pth
egs2/wsj/asr1/si84_exp/asr_train_asr_transformer_raw_char/99epoch.pth
egs2/wsj/asr1/si84_exp/asr_train_asr_transformer_raw_char/tensorboard/events.out.tfevents.1605330768.magnolia.18356.0
egs2/wsj/asr1/exp/asr_train_asr_transformer_raw_char/100epoch.pth
egs2/wsj/asr1/exp/asr_train_asr_transformer_raw_char/97epoch.pth
egs2/wsj/asr1/exp/asr_train_asr_transformer_raw_char/89epoch.pth
egs2/wsj/asr1/exp/asr_train_asr_transformer_raw_char/83epoch.pth
egs2/wsj/asr1/exp/asr_train_asr_transformer_raw_char/checkpoint.pth
egs2/wsj/asr1/exp/asr_train_asr_transformer_raw_char/valid.acc.ave_10best.pth
egs2/wsj/asr1/exp/asr_train_asr_transformer_raw_char/91epoch.pth
egs2/wsj/asr1/exp/asr_train_asr_transformer_raw_char/84epoch.pth
egs2/wsj/asr1/exp/asr_train_asr_transformer_raw_char/72epoch.pth
egs2/wsj/asr1/exp/asr_train_asr_transformer_raw_char/82epoch.pth
egs2/wsj/asr1/exp/asr_train_asr_transformer_raw_char/96epoch.pth
egs2/wsj/asr1/exp/asr_train_asr_transformer_raw_char/90epoch.pth
egs2/wsj/asr1/exp/asr_train_asr_transformer_raw_char/99epoch.pth
egs2/wsj/asr1/exp/asr_train_asr_transformer_raw_char/tensorboard/events.out.tfevents.1605205394.magnolia.1246.0
egs2/wsj-exp3/asr1/exp-share/asr_train_asr_transformer_raw_char/100epoch.pth
egs2/wsj-exp3/asr1/exp-share/asr_train_asr_transformer_raw_char/97epoch.pth
egs2/wsj-exp3/asr1/exp-share/asr_train_asr_transformer_raw_char/valid.acc.best.pth
egs2/wsj-exp3/asr1/exp-share/asr_train_asr_transformer_raw_char/76epoch.pth
egs2/wsj-exp3/asr1/exp-share/asr_train_asr_transformer_raw_char/checkpoint.pth
egs2/wsj-exp3/asr1/exp-share/asr_train_asr_transformer_raw_char/valid.acc.ave_10best.pth
egs2/wsj-exp3/asr1/exp-share/asr_train_asr_transformer_raw_char/91epoch.pth
egs2/wsj-exp3/asr1/exp-share/asr_train_asr_transformer_raw_char/80epoch.pth
egs2/wsj-exp3/asr1/exp-share/asr_train_asr_transformer_raw_char/70epoch.pth
egs2/wsj-exp3/asr1/exp-share/asr_train_asr_transformer_raw_char/latest.pth
egs2/wsj-exp3/asr1/exp-share/asr_train_asr_transformer_raw_char/73epoch.pth
egs2/wsj-exp3/asr1/exp-share/asr_train_asr_transformer_raw_char/82epoch.pth
egs2/wsj-exp3/asr1/exp-share/asr_train_asr_transformer_raw_char/valid.acc.ave.pth
egs2/wsj-exp3/asr1/exp-share/asr_train_asr_transformer_raw_char/61epoch.pth
egs2/wsj-exp3/asr1/exp-share/asr_train_asr_transformer_raw_char/93epoch.pth
egs2/wsj-exp3/asr1/exp-share/asr_train_asr_transformer_raw_char/tensorboard/events.out.tfevents.1607286128.magnolia.1557.0
egs2/wsj-exp3/asr1/exp-share/asr_train_asr_transformer_raw_char/tensorboard/events.out.tfevents.1607380765.magnolia.8011.0
egs2/wsj-exp3/asr1/data/local/other_text/text
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/100epoch.pth
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/86epoch.pth
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/89epoch.pth
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/92epoch.pth
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/85epoch.pth
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/98epoch.pth
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/valid.acc.best.pth
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/checkpoint.pth
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/valid.acc.ave_10best.pth
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/79epoch.pth
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/latest.pth
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/95epoch.pth
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/72epoch.pth
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/96epoch.pth
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/valid.acc.ave.pth
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/93epoch.pth
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/tensorboard/events.out.tfevents.1607380765.magnolia.7694.0
egs2/wsj-exp2/asr1/exp-share/asr_train_asr_transformer_raw_char/tensorboard/events.out.tfevents.1607283784.magnolia.41040.0
egs2/wsj-exp2/asr1/data/local/other_text/text
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/100epoch.pth
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/86epoch.pth
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/92epoch.pth
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/85epoch.pth
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/valid.acc.best.pth
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/63epoch.pth
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/checkpoint.pth
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/valid.acc.ave_10best.pth
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/91epoch.pth
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/84epoch.pth
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/87epoch.pth
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/latest.pth
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/75epoch.pth
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/81epoch.pth
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/74epoch.pth
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/valid.acc.ave.pth
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/tensorboard/events.out.tfevents.1607380765.magnolia.7850.0
egs2/wsj-exp1/asr1/exp-share/asr_train_asr_transformer_raw_char/tensorboard/events.out.tfevents.1607282530.magnolia.20749.0
egs2/wsj-exp1/asr1/data/local/other_text/text
